body {
  font-family: "Syne", sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60%;
  margin: 0;
  width: 100%;
}

#output {
  margin-top: 20px;
  width: 80%;
  max-width: 500px;
  border: 1px solid #ccc;
  padding: 10px;
  word-wrap: break-word;
}

#fileInputContainer {
  text-align: center;
  font-size: 16px;
  padding: 10% 10% 7% 10%;
  border: dashed #efefef;
  border-width:2px;
  border-radius: 0px;
  width: 100%;
  background-color: #ffffff;
  color: #111111;
  cursor: pointer;
  margin-bottom: 5%;
}

#fileInputContainer:hover {
  background-color: #f9f9f9;
}

#fileInputContainer.dragover {
  background-color: #f9f9f9;
}

#dragDropText {
  margin-top: 30px;
}

#uploadButton {
  font-family: "Syne", sans-serif;
  font-weight: 600; /* Semibold font weight */
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: opx;
  background-color: #efefef;
  color: #111111;
  cursor: pointer;
  transition: ease-in 0.2s;
}

#uploadButton:hover {
  background-color: #dedede;
}

#output {
  width: 100%;
  font-size: 16px;
  padding: 16px;
  border: 2px solid #e3e3e3;
  margin-bottom: 20px;
}

#copyButton {
  font-family: "Syne", sans-serif;
  font-weight: 600; /* Semibold font weight */
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: opx;
  background-color: #1982c4;
  color: #fff;
  cursor: pointer;
}

#copyButton:hover {
  background-color: #146fa7;
}

#downloadButton {
  margin-left: 10px;
  font-family: "Syne", sans-serif;
  font-weight: 600; /* Semibold font weight */
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 0px;
  background-color: #ffca3a;
  color: #fff;
  cursor: pointer;
}

#downloadButton:hover {
  background-color: #e3b433;
}

#resultsSection {
  display: inline-block;
  text-align: center; /* Align content in the center */
}

#imagePreview {
  max-width: 800px;
  max-height: 800px;
}

#clearButton {
  margin-left: 10px;
  font-family: "Syne", sans-serif;
  font-weight: 600; /* Semibold font weight */
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 0px;
  background-color: #ff595e;
  color: #fff;
  cursor: pointer;
}

#clearButton:hover {
  background-color: #e24d52;
}